:root {
    --primary-color: #004b13;
    --secondary-color: #1d5a00;
    --background-color2: #ffffff;
    --background-color: #000000;
    --header-background: #ffffff;
    --text-color: #004d40;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #508d00 , #000000,  #508d00);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    text-align: center;
    background-color: var(--header-background);
    padding: 0px;
    width: 130%;
    height: 400px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: var(--secondary-color);
    margin: 0;
    position: relative;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: -5px;
   
}

#query {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 2px solid #9e9e9e;
    border-radius: 25px;
    box-sizing: border-box;
    
    background-color: #a7a5a5;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: opacity 0.4s ease;
}

.search-icon:hover {
    opacity: 0.2;
}

.search-icon-img {
    width: 25px;
    height: 25px;
}

input[type="text"] {
    margin: 70px;
    margin-left: 20px;
    flex: 1;
    color: #fffcfc;
    padding: 13px;
    border: 2px solid #dcdcdc;
    border-radius: 24px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.637);
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus {
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
}

.menu-icon {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Adiciona transição para transform */
}

.menu-icon:hover {
    opacity: 0.9;
    transform: scale(1.2); /* Aumenta o tamanho ao passar o mouse */
}

.menu-icon img {
    width: 47px;
    height: 47px;
}

.menu {
    display: none; /* Esconde o menu por padrão */
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 60px; /* Ajusta a posição abaixo do ícone do menu */
    right: 10px;
    background-color: #016901;
    border: 1px solid #09ff00d8;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease; /* Adiciona transição para transform */
    transform-origin: top right; /* Define o ponto de origem da transformação */
}

.menu.show {
    display: flex; /* Mostra o menu quando o botão é clicado */
    transform: scale(1); /* Retorna ao tamanho normal ao mostrar */
}

.menu li {
    list-style: none;
    margin-bottom: 10px;
}

.menu li a {
    text-decoration: none;
    color: var(--background-color2);
    font-size: 18px;
    font-weight: 600;
}
.imgLogo1 {
    width: 370px;
    height: 160px;
    margin-top: 80px;
    border-radius: 40px;
}
.img2 {
    width: 468px;
    height: 350px;
    margin-top: 50px;
    border-radius:20px;
}

.imgPesquisa1 {
    width: 80px;
    height: 100px;
    margin-top: 100px;
}

.mensagem {
    text-align: center;
}

.container {
    display: flex;
    width: 100%; /* Ajustado para ocupar a largura total */
    height: 300px;
    max-width: 1200px; /* Limita a largura máxima do container */
    margin: 20px auto; /* Centraliza o container horizontalmente */
    margin-top: 200px;
    flex-wrap: wrap; /* Permite que os itens se ajustem e quebrem linha se necessário */
    justify-content: center;    
}

.cards {
    flex: 1;
    cursor: pointer;
    margin: 6px;
    margin-top: -0%;
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: flex 0.5s ease;
    min-width: 0;
    overflow: hidden;
    border-radius: 15px;
    padding: 5px;
    font-size: 22px;
    color: white; /* Mantém o texto na cor branca */
}

.cards img {
    width: 70%;
    margin: 20px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px; /* Espaço entre a imagem e o texto */
    transition: transform 0.3s ease;
}

.cards:hover {
    flex-grow: 1.04;
}

.cards img:hover {
    transform: scale(1.05); /* Ajusta o aumento da imagem ao passar o mouse */
}

.cards p {
    margin: 0;
    font-size: 1.2em;
}

footer {
    text-align: center;
    margin: 6px;
    padding: 10px;
    color: #fff;
    background-color: var(--primary-color);
    width: 140%;
    position: relative;
    bottom: 0;
}

.section {
    padding: 50px 0;
    background-color: var(--secondary-color); /* Cor de fundo da seção */
    color: #fff; /* Cor do texto */
    width: 100%;
    margin-top: 200px;
}

.container2 {
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.texto {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Lora', serif; /* Fonte para títulos */
}

.texto h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Lora', serif; /* Fonte para títulos */
}

.texto p {
    font-size: 20px;
    line-height: 1.6;
}

.icones {
    display: flex;
    flex-wrap: wrap; /* Permite que os ícones quebrem linha se necessário */
    justify-content: center; /* Centraliza os ícones */
    gap: 20px; /* Espaçamento entre os ícones */
}

.icone {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.icone img {
    width: 70%; /* Ajuste o tamanho da imagem dentro do ícone */
}

.icone:hover {
    transform: scale(1.2); /* Aumenta o tamanho do ícone em 10% */
}
.search-icon {
    transition: transform 0.4s ease;
}

.search-icon:hover {
    transform: scale(1.1); /* Aumenta o tamanho do ícone de pesquisa em 10% */
}

/* Responsividade para dispositivos menores */

@media (max-width: 600px) {
    header {
        height: auto;
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    .search-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .imgLogo1 {
        width: 200px;
        height: 100px;
        margin-top: 50px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .cards {
        width: 90%;
        margin: 10px 0;
    }

    .section {
        padding: 20px 0;
        margin-top: 100px;
    }

    .texto h2 {
        font-size: 28px;
    }

    .texto p {
        font-size: 18px;
    }

    .icones {
        gap: 10px;
    }

    .icone {
        width: 100px;
        height: 100px;
    }
}
